@charset "UTF-8";

/* font settings - Start */
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css'); */

/* Pretendard */
@font-face {
  font-family: "Pretendard_Black";
  src: url(../fonts/Pretendard-Black.eot);
  src: url(../fonts/Pretendard-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Black.woff2) format("woff2"), url(../fonts/Pretendard-Black.woff) format("woff"), url(../fonts/Pretendard-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_ExtraBold";
  src: url(../fonts/Pretendard-ExtraBold.eot);
  src: url(../fonts/Pretendard-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard-ExtraBold.woff) format("woff"), url(../fonts/Pretendard-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Bold";
  src: url(../fonts/Pretendard-Bold.eot);
  src: url(../fonts/Pretendard-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard-Bold.woff) format("woff"), url(../fonts/Pretendard-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_SemiBold";
  src: url(../fonts/Pretendard-SemiBold.eot);
  src: url(../fonts/Pretendard-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-SemiBold.woff2) format("woff2"), url(../fonts/Pretendard-SemiBold.woff) format("woff"), url(../fonts/Pretendard-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Medium";
  src: url(../fonts/Pretendard-Medium.eot);
  src: url(../fonts/Pretendard-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard-Medium.woff) format("woff"), url(../fonts/Pretendard-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Regular";
  src: url(../fonts/Pretendard-Regular.eot);
  src: url(../fonts/Pretendard-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard-Regular.woff) format("woff"), url(../fonts/Pretendard-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Light";
  src: url(../fonts/Pretendard-Light.eot);
  src: url(../fonts/Pretendard-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard-Light.woff) format("woff"), url(../fonts/Pretendard-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_ExtraLight";
  src: url(../fonts/Pretendard-ExtraLight.eot);
  src: url(../fonts/Pretendard-ExtraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-ExtraLight.woff2) format("woff2"), url(../fonts/Pretendard-ExtraLight.woff) format("woff"), url(../fonts/Pretendard-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Thin";
  src: url(../fonts/Pretendard-Thin.eot);
  src: url(../fonts/Pretendard-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard-Thin.woff) format("woff"), url(../fonts/Pretendard-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* Pretendard */



/* Manrope */
@font-face {
  font-family: "Manrope_ExtraBold";
  src: url(../fonts/Manrope-ExtraBold.eot);
  src: url(../fonts/Manrope-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-ExtraBold.woff2) format("woff2"), url(../fonts/Manrope-ExtraBold.woff) format("woff"), url(../fonts/Manrope-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Bold";
  src: url(../fonts/Manrope-Bold.eot);
  src: url(../fonts/Manrope-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-Bold.woff2) format("woff2"), url(../fonts/Manrope-Bold.woff) format("woff"), url(../fonts/Manrope-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_SemiBold";
  src: url(../fonts/Manrope-SemiBold.eot);
  src: url(../fonts/Manrope-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-SemiBold.woff2) format("woff2"), url(../fonts/Manrope-SemiBold.woff) format("woff"), url(../fonts/Manrope-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Medium";
  src: url(../fonts/Manrope-Medium.eot);
  src: url(../fonts/Manrope-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-Medium.woff2) format("woff2"), url(../fonts/Manrope-Medium.woff) format("woff"), url(../fonts/Manrope-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Regular";
  src: url(../fonts/Manrope-Regular.eot);
  src: url(../fonts/Manrope-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-Regular.woff2) format("woff2"), url(../fonts/Manrope-Regular.woff) format("woff"), url(../fonts/Manrope-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Light";
  src: url(../fonts/Manrope-Light.eot);
  src: url(../fonts/Manrope-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-Light.woff2) format("woff2"), url(../fonts/Manrope-Light.woff) format("woff"), url(../fonts/Manrope-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_ExtraLight";
  src: url(../fonts/Manrope-ExtraLight.eot);
  src: url(../fonts/Manrope-ExtraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-ExtraLight.woff2) format("woff2"), url(../fonts/Manrope-ExtraLight.woff) format("woff"), url(../fonts/Manrope-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Manrope_Thin";
  src: url(../fonts/Manrope-Thin.eot);
  src: url(../fonts/Manrope-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/Manrope-Thin.woff2) format("woff2"), url(../fonts/Manrope-Thin.woff) format("woff"), url(../fonts/Manrope-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* Manrope */
/* font settings - End */


