@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* { margin:0; padding:0;}
li { list-style:none; }
a { text-decoration: none; color:inherit; }
img { vertical-align: top; }


.wrap { width:100%; max-width: 1400px; margin:0 auto; position: relative; }
.wrap:after, ul:after { content:""; clear:both; display: block; }


html.fix { overflow: hidden; }


body { background: #fff; color:#222; transition:0.3s; font-family: 'SUIT-Regular'; }
body.bl { background: #222; color:#fff; }


header { width: 100%; height: 60px; background: #fff; z-index:99; }
.bl header { background: #000; }
header h1 img { filter: invert(1); }
.bl header h1 img { filter: invert(0); }
header h1 { position: absolute; left: 100px; top:15px; }
header h1 img { height: 30px; }
header ul.gnb { display:flex; align-items: flex-start; justify-content: center; margin-left: 60px; }
header ul.gnb li { line-height:60px; margin:0 20px; text-align:center; }
header ul.gnb ul { background:#fff; border:1px solid #ddd; border-top:none; display:none; padding-bottom:10px; }
header ul.gnb ul li { line-height:40px; }
header ul.color { position: absolute; right:100px; top:18px; }
header ul.color li { float:left; width: 24px; height: 24px; border-radius: 100%; border:1px solid #ddd; margin-left: 10px; box-sizing: border-box; cursor: pointer; }
header ul.color li.bl { background: #111; }
header ul.color li.wh { background: #fff; }
.bl header ul.gnb ul { background:#000; color:#fff; }
.blank { height: 60px; }


.sv { background: url("/base/img/price/sub.jpg") no-repeat center/cover; height: 300px; width:calc(100% - 320px); }


#price { margin-top: 100px; padding-right: 320px; }
#price h2 { text-align: center; font-family: 'SUIT-Bold'; font-weight: normal; }
#price h4 { text-align: center; font-family: 'SUIT-Regular'; font-weight: normal;  margin-top:10px; }
#price form { margin-top: 200px; }
#price article > ul { margin-top: 40px; margin-bottom: 100px; }
#price article > ul > li { float:left; width:32%; margin:0 2% 2% 0; position: relative;  }
#price article > ul > li > div { position: relative; } 
#price article > ul > li img { width: 100%; cursor: pointer; } 
#price article > ul > li input { position: absolute; left: 10px; top: 10px; width: 20px; height: 20px; }
#price article > ul > li > p,
#price article > ul > li > div p{ text-align: center; margin-top: 20px; position: absolute; left: 0; bottom: 0; line-height:50px; background: rgba(0,0,0,0.8); width: 100%; color:#fff; }
#price article > ul > li p b { margin-left: 20px; }
#price article > ul ul { display: none; }
#price article > ul ul li { margin-top: 20px; position: relative; }
#price article > ul ul li img { margin-bottom:6px; }
#price article > ul ul li p { display: inline-block;  }
#price article > ul ul li input { position: relative; left: 0; top:3px; margin-right: 10px; }
#price article h3 { margin-top: 20px; cursor: pointer; color:#999;  }
#price article h3:hover { color:#222; }
#price article h3.on { color:#222; }


#price .total { background: rgba(255,255,255,0.95); position: fixed; left: 0; bottom: 0; width:100%; height: 60px; text-align: center; z-index: 98; display: flex; align-items: center; justify-content: center; border-top:1px solid #ddd; }
.bl #price .total { background: rgba(0,0,0,0.95);   }
#price .total b { font-family: 'SUIT-Regular'; font-weight: 500; }
#price .total input { background: none; border:1px solid rgba(0,0,0,0); font-size:32px; text-align: right; width:200px; margin-right: 10px; font-family: 'SUIT-Bold'; color:#111; }
.bl #price .total input { color:#fff; }


#list { position: fixed; right:0; top:60px; z-index: 10; background:#fff; width:320px; height:calc(100vh - 120px); padding:20px; box-sizing: border-box; border-left:1px solid #ddd; overflow-y: auto;  }
#list h3 { margin-top: 20px; }
#list div p { margin-top: 6px; }
#list div p:before { content:"- "; }
#list div p b { margin-left: 10px; }
.bl #list { background: #111; }


.picbox { background: rgba(255,255,255,0.9); align-items: center; justify-content:center; position: fixed; left: 0; top: 0; width: 100%; height: 100vh; z-index: 999; display: none; }
.picbox.on { display: flex; }
.bl .picbox { background: rgba(0,0,0,0.9); }
.picbox div { position: relative; max-width: 800px; }
.picbox div img { width: 100%; }
.picbox div .xi-close-thin { position: absolute; right:0; top:0; background: #000; color:#fff; padding:10px; font-size:40px; }


#pkg div { overflow-x: hidden; }
#pkg ul { position: relative; width:500%; }
#pkg ul li { float:left; width:20%; }
#pkg .prev { position: absolute; left:0; top:calc(50% - 30px); background: #000; color:#fff; font-size:40px; padding:10px;  }
#pkg .next { position: absolute; right:0; top:calc(50% - 30px); background: #000; color:#fff; font-size:40px; padding:10px;  }






@media (max-width:800px) {
.pc { display: none !important; }


.wrap { width: 100%; }


header { overflow: hidden; transition: 0.3s; }
header.on { height:100vh; }
header h1 { left: 3%; top:20px; }
header h1 img { height: 20px; }
header ul.gnb { display:block; width:280px; margin:100px auto 0; }
header ul.gnb li { text-align: center; margin:0; border-bottom:1px solid #ddd; font-size:20px; }
header ul.gnb ul { border:none; }

header ul.gnb ul li { border:none; }
header ul.gnb li:last-child { border:none; }
header ul.color { right:80px; }
    
#nav_btn { position:absolute; right:3%; top:12px; }
#nav_btn .line {  width: 30px; height: 2px; background-color: #111; display: block; margin: 8px auto; transition: all 0.3s ease-in-out;}
.bl #nav_btn .line { background: #fff; }
#nav_btn:hover{ cursor: pointer;}
#nav_btn.act .line:nth-child(2){ opacity: 0;}
#nav_btn.act .line:nth-child(1){ transform: translateY(10px) rotate(45deg);}
#nav_btn.act .line:nth-child(3){ transform: translateY(-10px) rotate(-45deg);} 
    
.sv { height: 160px; width: 100%;  }
.sub-nav{
    display: block;
}
.logo-img{
    display: none;
}
nav{
    display: none;
}
.origin{display: none;}
.mo-img{
    position: absolute;
    right: 10px;
    top: -20px;
}
#price { padding-right: 0; margin: 0 auto; font-size: 7px;}
.logo-img{ display: none;}    
#price form { margin-top: 0; }
#price article > ul > li { width:48.5%; margin:0 3% 3vw 0; }
#price article > ul > li:nth-child(2n) { margin-right: 0; }
#price article > ul > li:nth-child(2n+1) { clear:both; }
#price article > ul > li input { width: 20px; height: 20px; }
#price article > ul > li > p,
#price article > ul > li > div p { margin-top: 0; position: static; line-height:1.6; padding:10px; font-size:13px; box-sizing: border-box; }
#price article > ul > li p b { display: block; margin-left: 0; }
#price article > ul ul { margin-top: 10px;  }
#price article > ul ul li { margin-top: 0px; font-size:13px; margin-bottom: 20px; }
#price article > ul ul li input { top:4px; } 
#price article h3 { margin-top: 10px; font-size:16px; }
#price article h3 + ul { margin-bottom: 20px;  }
#pkg .prev, #pkg .next, #pkg .xi-close-thin { padding:0; }
#pkg .prev, #pkg .next { top:calc(50% - 20px); }

    
#list { top:101vh; width:100%; border-left:none; transition: 0.3s; }
#list.on { top:60px; }
#price .total input { width: 170px; }
#price .total a { padding:6px; background: #111; color:#fff; margin-left: 8px; font-size:13px; }
.bl #price .total a { background: #fff; color:#111; }


#pic div { position: relative; max-width: 94%; }
#div { margin-bottom:60px }




    
}


@media (min-width:801px) {
.mob { display: none !important; }


#price article > ul > li:nth-child(3n) { margin-right: 0; }
#price article > ul > li:nth-child(3n+1) { clear:both; }    
}